<div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
  
      <div *ngFor="let question of questions" class="form-row">
        <app-dynamic-form-question-component [question]="question" [form]="form"></app-dynamic-form-question-component>
      </div>
  
      <div class="form-row">
        <button class="btn_style btn_style_blue" type="submit" [disabled]="!form.valid">Save</button>
      </div>
    </form>
  
    <div *ngIf="payLoad" class="form-row">
      <strong>Saved the following values</strong><br>{{payLoad}}
    </div>
  </div>