body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif !important;
    font-size: 18px;
    font-weight: bold;
}
a:hover{
    color: inherit;
    text-decoration: none;
}
h1, h2, h3, h4,h5,h6, p, ul, ol{ 
    margin: 0;
    padding: 0;
}
header, footer, main{ 
    display: block;
}
:focus{ 
    outline: 0;
}

button{ 
    outline: 0;
    border: none;
}
button:focus{ 
    outline: 0;
    box-shadow: none;
}
ul, ol{
    margin: 0;
    list-style: none;
}
img{
    max-width: 100%;
    height: auto;
}
h1, h2, h3, h4,h5,h6{ 
    font-weight: bold;
}
.btn_style {
    display: inline-block;
    border-radius: 6px;
    background-image: linear-gradient(106deg, #f39300, #be1522);
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    border: 0;
    padding: 6px 23px;
    cursor: pointer;
    box-shadow: none;
}
.btn_style_blue {
    background-image: linear-gradient(108deg, #237aa6, #30a6b0);
}
.btn_style:hover { 
    text-decoration: none;
    color: #fff;
}
p { 
    margin-bottom: 15px;
    line-height: 30px;
}
.padd-row {
    padding: 65px 0;
}
.form-control { 
    border-radius: 4px;
    background-color: #f4f5fa !important;
    color: #959fa8;
    padding-left: 15px;
    padding-left: 15px;
    border: 0;
    box-shadow: none;
    outline: 0;
} 
.form-control:focus {
    outline: 0;
    box-shadow: none;
}


/*--- Header ---*/ 

.header {
    width: 100%;
    padding: 20px 25px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: position 10s;
    -ms-transition: position 10s;
    -o-transition: position 10s;
    transition: all 0.5s ease;
    position: relative;
    z-index: 999;
    background: #ffffff;
    box-shadow: 0 10px 20px 0 rgba(190, 197, 203, 0.5);
    background-color: #ffffff;
}
@keyframes smoothScroll {
	0% {
		transform: translateY(-40px);
	}
	100% {
		transform: translateY(0px);
	}
} 
.header .container-fluid {
    max-width: 1200px;
}
.logo a {
    display: block;
    max-width: 150px;
}
.header-rght {
    margin-left: auto;
}
.user_profile_icon img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: inline-block;
}
.header_search .form-control {
    width: 440px;
    height: 40px;
    border-radius: 8px;
    background-color: #f4f5fa;
    border: 0;
    font-size: 14px;
    color: #959fa8;
    box-shadow: none;
    outline: 0;
    padding-left: 50px;
    font-weight: bold;
}
.input_rel {
    position: relative;
}
.input_rel i, .input_rel img {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    left: 20px;
    font-size: 14px;
    color: #2a2a2a;
    max-height: 14px;
}
.header_search {
    margin-left: 40px;
}
.home_main_sec {
    padding: 50px 0;
}
.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/header_left_design.png);
    background-repeat: no-repeat;
    width: 64px;
    background-size: 64px;
    height: 175px;
}
.header:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../images/header_right_design_blue.png);
    background-repeat: no-repeat;
    width: 47px;
    background-size: 47px;
    height: 75px;
}


/*  home-slider  */ 
 
 
/*   home-main   */


.cmn_bdr_wh_bg{
    border-radius: 6px;
    border: solid 1px #f4f5fa;
    background: #fff;
} 
.sponser_box_img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 6px 6px 0 0;
}
.sponser_box_logo img {
    width: 35px;
}
.sponser_box_logo {
    background: #fff;
    position: relative;
    top: -27px;
    display: inline-block;
    padding: 18px 34px 7px;
    border-radius: 45px 45px 0 0;
    left: -6px;
}
.sponser_box_cnt p {
    font-size: 19px;
    font-weight: 600;
    text-align: center;
    margin: 0;
}
.sponser_box_cnt {
    padding: 20px 35px 30px;
} 
.home_rightside_user_box_cnt h4 {
    font-size: 24px;
    margin-bottom: 4px;
}
.home_rightside_user_box_cnt p {
    color: #959fa8;
    font-size: 14px;
    margin: 0;
}
.home_rightside_user_box_img img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 10px;
}
.home_rightside_user_box {
    position: relative;
    padding-left: 75px;
    min-height: 60px;
}
.home_rightside_user_box_img {
    position: absolute;
    left: 0;
    top: 0;
} 
.sponser_heading {  
    color: #237aa6;
    font-size: 15px;
    padding: 14px 20px;
    margin-bottom: 30px;
}
.home_posts_box_body img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.home_posts_box_ftr {
    padding: 20px 30px;
    font-size: 18px;
    color: #959fa8;
}
.home_posts_box_ftr ul {
    display: -ms-flexbox!important;
    display: flex!important;
    justify-content: space-between;
}
.home_posts_box_ftr li img {
    max-height: 20px;
    margin-right: 13px;
    opacity: .4;
}
.home_posts_box_ftr a{ 
    color: #959fa8;
}
.home_posts_box_ftr a:hover, .home_posts_box_ftr a:focus {
    color: #000;
}
.home_posts_box_ftr a:hover img, .home_posts_box_ftr a:focus  img{
    opacity: 1;
}
.home_posts_box_cnt p {
    margin: 0;
    font-size: 20px;
        max-width: 600px;
    color: #2a2a2a;
}
.home_posts_box_cnt, .home_posts_box_heading {
    padding: 30px;
}
.home_posts_box_cnt{
    padding-top: 0;
}
 .home_posts_box_heading .home_rightside_user_box {
    padding-right: 100px;
}
.home_posts_box_heading .home_rightside_user_box_right {
    position: absolute;
    right: 0;
    top: 0;
}
.home_posts_box_heading .home_rightside_user_box_right img {
    max-width: 145px;
}
.home_posts_box_heading .home_rightside_user_box_right i {
    margin-left: 30px;
    font-size: 25px;
    color: #5f6b75;
    display: inline-block;
    vertical-align: middle;
}
.home_posts_box, .home_add_post, .home_rightside_user, .sponser_heading, .home_sponser_sidebar li, .home_post_catg {
    margin-bottom: 30px;
}
.home_posts_box_body {
    position: relative;
}
.play_icon img {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.home_add_post_inner img {
    width: 40px;
    height: 40px;
    border-radius: 6px;
}
.home_add_post_inner .form-control {
    padding: 0;
    box-shadow: none;
    outline: 0;
    border: 0;
    font-size: 20px;
    color: #959fa8;
    margin: 0 15px;
    font-weight: bold;
}
.home_add_post {
    padding: 20px;
}
.home_post_catg {
    padding: 18px 20px;
}
.home_post_catg li, .home_post_catg ul {
    border: 0;
    margin: 0;
}
.home_post_catg li a {
    font-size: 18px;
    color: #959fa8;
    padding: 2px 24px;
    border: 0 !important;
    border-radius: 0;
    position: relative;
    display: inline-block;
}
.home_post_catg li a:before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    background: #000;
    height: 3px;
    border-radius: 4px;
    opacity: 0;
}
.home_post_catg .nav-tabs .nav-item.show .nav-link, .home_post_catg  .nav-tabs .nav-link.active {
    color: #000000;
    background-color: transparent;
    border: 0;
}
.home_post_catg  .nav-tabs .nav-link.active:before{
    opacity: 1;
}
.home_add_post_inner button.btn_style {
    min-width: 125px;
}
.add_post_modal .modal-header {
    padding: 12px 20px;
    border-color: #f4f5fa;
}
.add_post_modal .modal-header .close {
    float: none;
    font-size: 16px;
    color: #2a2a2a;
    opacity: 1;
}
.add_post_modal .modal-header .close {
    float: none;
    font-size: 16px;
    color: #2a2a2a;
    opacity: 1;
    margin: auto 0;
}
.add_post_modal .modal-header h4 {
    margin: auto;
    padding-right: 48px;
    font-size: 20px;
    font-weight: bold;
}
.add_post_modal .modal-body {
    padding: 0;
    display: block;
}
.create_post_catg {
    padding: 12px 20px;
    border-bottom: 1px solid #f4f5fa;
}
.create_post_main_body {
    padding: 20px 20px;
    min-height: 170px;
}
.create_post_ftr {
    padding: 15px 20px 20px;
    border-top: 1px solid #f4f5fa;
    text-align: center;
}
.create_post_ftr_icon img {
    max-height: 24px;
}
.create_post_catg li a {
    color: #959fa8;
    display: inline-block;
    border-radius: 10px;
    margin: 0 5px;
    padding: 5px 20px;
}
.create_post_catg  .nav-pills .nav-link.active, .create_post_catg  .nav-pills .show>.nav-link { 
    background-color: #eaebf0;
    color: #000;
}
.create_post_ftr_icon {
    position: relative;
}
.create_post_ftr_icon input.file_type {
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.crate_post_desc {
    margin-top: 20px;
}
.crate_post_desc .form-control {
    height: 48px;
    border-radius: 4px;
    background-color: #f4f5fa;
    color: #959fa8;
    padding-left: 20px;
    border: 0;
    box-shadow: none;
    outline: 0;
}
.no_shadow{
    box-shadow: none;
}
section.sign_in_page {
    padding-top: 25px;
}
.sign_in_form label {
    color: #2a2a2a;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
}
.sign_in_form form [ class*='col-' ] {
    margin-bottom: 30px;
}
.sign_in_main {
    max-width: 400px;
    margin: auto;
}
.inner_logo a {
    display: block;
    max-width: 170px;
    margin-bottom: 45px;
} 
.inner_heading {
    position: relative;
    display: inline-block;
    margin-bottom: 25px;
}
.inner_heading h1 {
    font-size: 27px;
    margin: 0;
    position: relative;
}
.inner_heading:before {
    content: '';
    background: #f4f5fa;
    width: 100%;
    left: 0;
    top: 11px;
    height: 7px;
    position: absolute;
}
.forget_pass {
    color: #237aa6;
    font-size: 13px;
}
.sign_in_options_header li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}
.sign_in_link {
    color: #2a2a2a;
    font-size: 16px;
}
.header_desk_arrow i {
    margin-right: 15px;
}
.header_desk_arrow {
    margin-bottom: 30px;
}
.sign_in_form p {
    font-size: 13px;
    color: #5f6b75;
    line-height: 1.4;
    margin-bottom: 20px;
}
.sign_in_main .btn_style, .sign_in_header .btn_style {
    min-width: 150px;
    min-height: 48px;
    text-align: center;
    padding: 12px 23px;
}
span.step_name {
    float: right;
    color: #959fa8;
    font-size: 20px;
    margin-top: 4px;
}
.agree_terms_conditins label.form-check-label {
    font-size: 13px;
    color: #5f6b75;
    line-height: normal;
}
.agree_terms_conditins  a{
     color: #237aa6;
}
.agree_terms_conditins .form-check-input {
    margin-top: 2px;
}

.about_us_page_body {
    padding: 0 50px;
    margin-top: 30px;
}
.about_left_main {
    padding: 30px;
}
.about_left_main p {
    font-size: 16px;
    line-height: 1.63;
    color: #959fa8;
}
.about_sidebar li {
    padding: 20px;
    border-bottom: solid 1px #f4f5fa;
}
.about_sidebar li:last-child{
    border-bottom: 0;
}
.about_sidebar li a {
    display: block;
    padding: 8px 15px;
    font-size: 20px;
    color: #959fa8;
    padding-left: 20px;
    border-left: 4px solid #fff;
}
.about_sidebar a.active {
    border-left-color: #000;
    color: #000;
}
.about_sidebar a.log_out_link{
    color: #be1522;
}
.about_us_page_heading {
    position: relative;
}
.about_us_page_img_upload {
    display: inline-block;
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}
.about_us_page_img_upload input {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}
.about_us_page_img_upload img{
    width: 48px;
    height: 48px;
}
.about_us_page_heading_img img {
    width: 100%;
    height: 310px;
    object-fit: cover;
    border-radius: 10px;
}
.logout_modal_body {
    background: #fff;
    border-radius: 16px;
    border: 0;
    padding: 40px;
    text-align: center;
}
div#log_out .modal-content {
    display: block;
    background: transparent;
    padding: 0;
    margin: 0;
    border: 0;
}
.logout_modal_body  .inner_heading h1 {
    font-size: 36px; 
}
.logout_modal_body p {
    color: #959fa8;
    margin-bottom: 25px;
}
.logout_modal_body a {
    display: block;
    min-width: 150px;
    min-height: 48px;
    text-align: center; 
}
.logout_modal_body .btn_style {
    background: #959fa8;
    margin-bottom: 10px;
    padding: 12px 23px;
}
.logout_modal_body .btn_style_cancel {
    line-height: 48px;
    color: #959fa8;
    background: transparent;
}

.change_pass.sign_in_main {
    max-width: 100%;
}
.btn_style_cancel {
    background: #c6c8d2;
}
.blocked_profile_box .home_posts_box_heading {
    padding: 0;
}
.blocked_profile_list li {
    padding: 30px 0;
    border-bottom: solid 1px #f4f5fa;
}
.blocked_profile_list li:last-child{
    border-bottom: 0;
}
.blocked_profile_list .home_rightside_user_box_img img {
    width: 40px;
    height: 40px; 
    border-radius: 6px;
}
.blocked_profile_list .home_rightside_user_box_cnt h4 {
    font-size: 14px;
    margin-bottom: 0;
    padding-top: 10px;
}
.blocked_profile_list .home_rightside_user_box { 
    padding-left: 60px;
    min-height: 40px;
}
.blocked_profile_list .btn_style {
    background: #959fa8;
    font-size: 14px;
}
.blocked_profile_list .home_rightside_user_box_right i {
    margin-left: 20px;
}

.edit_profile_img_box img {
    width: 90px;
    height: 90px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}
.edit_profile_img_box span {
    color: #237aa6;
    display: inline-block;
    vertical-align: middle;
}
.edit_profile_img_box {
    position: relative;
    display: inline-block;
    margin-bottom: 35px;
}
.edit_profile_img_sec input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
}

#profile_page .profile_page_heading_cnt, #profile_page .home_main {
    padding: 0 50px; 
}
#profile_page  .profile_page_img_sec {
    margin-left: 50px; 
}
.profile_page_img_sec  .edit_profile_img_box img {
    width: 150px;
    height: 150px;
}
.profile_page_img_sec .edit_profile_img_sec {
    margin-top: -40px;
}
.profile_page_img_sec .edit_profile_img_box span {
    font-size: 25px;
    color: #000;
    margin-top: 20px;
}
.profile_edit_btn {
    margin-top: 30px;
}
.profile_page_heading_cnt {
    margin-bottom: 35px;
}
#profile_page .home_post_catg li a {
    font-size: 17px; 
    padding: 2px 22px;
}
.home_add_post_inner .form-control {
    background: transparent !important;
}
.profile_followers {
    padding: 14px 20px;
    margin-bottom: 30px;
}
.profile_followers a {
    display: inline-block;
    width: 49%;
    text-align: center;
    color: #959fa8;
    font-size: 15px;
    padding-bottom: 5px;
    border-bottom: 4px solid #fff;
}
.profile_followers a:hover, .profile_followers a.active{
    border-color: #000;
    color: #000;
}
.profile_page_img_sec .edit_profile_img_box .edit_profile_cam {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    position: relative;
    bottom: -24px;
    left: -39px;
    margin-right: 0;
}
.follow_popup_body .btn_style_grey {
    background: #959fa8;
}
.follow_popup_body .profile_followers { 
    margin-bottom: 20px;
}
.follow_popup_body .blocked_profile_list {
    padding: 0 20px;
    max-height: 400px;
    overflow: auto;
}
.follow_popup_body .blocked_profile_list li {
    padding: 12px 0;
}
.follow_popup_body .blocked_profile_list .btn_style {
    font-size: 11px;
    padding: 4px 13px;
    min-width: 73px;
    text-align: center;
}
.follow_popup_ftr {
    padding: 20px;
    border-top: 1px solid #eee;
    margin-top: 10px;
}
.follow_popup_ftr .header_desk_arrow {
    margin-bottom: 0;
}
.follow_popup_ftr .small_text {
    font-size: 14px;
    color: #b9b9b9;
}
.follow_popup_body .blocked_profile_list .btn_style_bdr {
    background: #fff;
    border: 1px solid #959fa8;
    color: #959fa8;
}
.view_post_modal .modal-xl {
    max-width: 90%;
}
.comment_box{
    position: relative;
    padding-left: 75px;
}
.comment_box_img img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 10px;
}
.comment_box .comment_box_img{
    position: absolute;
    left: 0;
    top: 0;
}
.home_posts_box_comments {
    padding: 15px 30px;
}
.home_posts_box_cnt {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 15px 30px;
}
.home_posts_box_ftr{
     border-bottom: 1px solid #eee;
}
.home_posts_box_comments li {
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}
.home_posts_box_comments li:last-child{
    border-bottom: 0;
    padding-bottom: 0;
}
.home_posts_box_comments h4 {
    font-size: 18px;
    margin-bottom: 8px;
}
.home_posts_box_comments p {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 5px;
}
.home_posts_box_comments span.time {
    font-size: 12px;
    color: #c7c7c7;
}
.view_post_right .home_add_post {
    border-left: 0;
    border-right: 0;
    margin: 0;
}
.view_post_left { 
    height: 100%;
}
.view_post_left .home_posts_box_body {
    position: relative;
    height: 100%;
}
.view_post_left .home_posts_box_body img {
    height: 100%;
}
.view_post_left .home_posts_box_body .play_icon img {
    height: 80px;
}
.view_post_right .home_posts_box_comments ul {
    max-height: 230px;
    overflow-y: auto;
}
.cross_icon {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 9999;
    cursor: pointer;
}
.modal_left_icon, .modal_right_icon {
    position: relative;
    z-index: 99; 
    cursor: pointer;
}
.modal_left_icon{
    margin-right: 20px;
}
.modal_right_icon { 
    margin-left: 20px;
}
.view_post_modal .modal-dialog{
    pointer-events: inherit;
}


/*    Resonsive Media     */

 
@media ( min-width: 768px ){
 
.forget_pass {
    float: right;
    margin-top: 8px;
}
.sign_in_header .logo {
    display: none;
}
.sign_in_main .header_arrow, .mob_only, .edit_profile_img_box .edit_profile_cam {
    display: none;
}  
.edit_profile_img_sec label {
    display: block;
}
    
}

@media ( min-width: 1400px ){
    
.header .container-fluid {
    max-width: 1260px;
}
    
}

@media ( min-width: 1200px ) and ( max-width: 1299px ){

.header .container-fluid {
    max-width: 1120px;
} 
 
}  

@media ( min-width: 768px ) and ( max-width: 1199px ){
 
 
.header:before { 
    width: 35px;
    background-size: 35px;
    height: 102px;
}
.header .container-fluid {
    padding: 0px 40px;
}   
.home_post_catg li a {
    font-size: 16px; 
    padding: 2px 19px;
}
.home_rightside_user_box_cnt h4 {
    font-size: 20px;
    margin-bottom: 1px;
}
.home_posts_box_heading .home_rightside_user_box_cnt h4 {
    font-size: 18px;
    margin-bottom: 2px;
}
.home_posts_box_cnt, .home_posts_box_heading {
    padding: 20px;
}    
.home_posts_box_cnt {
    padding-top: 0;
}    
    
}  

@media ( min-width: 992px ) and ( max-width: 1199px ){
 
#profile_page .home_post_catg li a {
    font-size: 16px;
    padding: 2px 14px;
} 
    
} 

@media ( min-width: 768px ) and ( max-width: 991px ){
 
body, .home_add_post_inner .form-control, .btn_style{
    font-size: 14px;
}
p { 
    line-height: 22px;
}
.header_search .form-control {
    width: 230px;
}
.home_main_sec .container {
    max-width: 100%;
    padding: 0 20px;
}    
.home_post_catg li a {
    font-size: 14px;
    padding: 2px 12px;
}
.home_post_catg {
    padding: 12px 14px;
}
.home_add_post {
    padding: 12px;
}
.home_posts_box_heading .home_rightside_user_box_right img {
    max-width: 100px;
}
.home_rightside_user_box_img img {
    width: 45px;
    height: 45px; 
    border-radius: 6px;
}
.home_rightside_user_box { 
    padding-left: 60px;  
    min-height: 45px;
}
.home_posts_box_cnt p{
    font-size: 16px;
} 
.home_posts_box_cnt, .home_posts_box_heading {
    padding: 15px;
}
.home_posts_box_cnt {
    padding-top: 0;
}
.home_posts_box_body img { 
    height: 240px; 
}
.home_posts_box_ftr {
    padding: 16px 20px;
    font-size: 14px; 
}
.sponser_box_cnt p {
    font-size: 16px;
}
.sponser_box_cnt {
    padding: 0 15px 20px;
}
.sponser_box_img img { 
    height: 125px; 
}
.sponser_box_logo { 
    top: -22px; 
    padding: 10px 25px 7px; 
}
.sponser_box_logo img {
    width: 24px;
}
.play_icon img {
    width: 50px;
    height: 50px;
}
.about_us_page_body {
    padding: 0 0;
}
.about_sidebar li {
    padding: 10px; 
}
.about_sidebar li a { 
    padding: 6px 15px;
    font-size: 15px; 
    padding-left: 15px; 
}
#profile_page .home_post_catg li a {
    font-size: 13px;
    padding: 2px 8px;
}
#profile_page .profile_page_heading_cnt, #profile_page .home_main {
    padding: 0;
}
#profile_page .profile_page_img_sec {
    margin-left: 30px;
}
.profile_followers {
    padding: 12px 10px; 
}
    
} 

@media screen and ( max-width: 767px ){
    

body, .home_add_post_inner .form-control, .btn_style, .home_posts_box_cnt p {
    font-size: 17px;
}
p { 
    line-height: 23px;
}
.header {
    box-shadow: 0 1px 8px 0 rgba(190, 197, 203, 0.5);
    padding: 29px 25px;
}
.header-rght, .header_search , .home_add_post, .home_main_right{
    display: none;
}  
.header:before {
    width: 45px;
    background-size: 45px;
    height: 125px;
}
.header .container-fluid {
    padding: 0px 40px;
}  
.logo {
    text-align: center;
}
.logo a {
    max-width: 185px;
    margin: auto;
    text-align: center;
}
section.home_main_sec .container {
    padding: 0;
}
.cmn_bdr_wh_bg {
    border-left: 0;
    border-right: 0;
    box-shadow: 0 0 6px #eee;
    border-radius: 0;
}
.home_posts_box_cnt, .home_posts_box_heading {
    padding: 15px;
}
.home_posts_box_cnt {
    padding-top: 0;
}
.home_rightside_user_box_img img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 5px;
}
.home_posts_box_heading .home_rightside_user_box {
    padding-right: 110px;
    padding-left: 50px;
    min-height: 45px;
}
.home_rightside_user_box_cnt h4 {
    font-size: 18px;
    margin-bottom: 2px;
}
.home_rightside_user_box_cnt p { 
    font-size: 13px; 
    line-height: 16px;
}
.home_posts_box_heading .home_rightside_user_box_right img {
    max-width: 90px;
}
.home_posts_box_heading .home_rightside_user_box_right i {
    margin-left: 14px;
    font-size: 19px;
} 
.home_posts_box_body img { 
    height: 175px; 
}
.home_posts_box_ftr {
    padding: 15px 18px;
    font-size: 14px; 
}
.home_posts_box_ftr li img {
    max-height: 16px;
    margin-right: 5px; 
}
.home_posts_box, .home_add_post, .home_rightside_user, .sponser_heading, .home_sponser_sidebar li, .home_post_catg {
    margin-bottom: 20px;
}
.play_icon img {
    width:  50px;
    height: 50px;
}
.home_main [ class*='col-' ] {
    padding: 0;
}
.home_main .row {
    margin: 0; 
} 
.mobile_footer {
    display: block !important;
    padding: 18px 25px;
    box-shadow: 0px -3px 16px rgba(0, 0, 0, 0.15);
    border-radius: 20px 20px 0 0;
    position: fixed;
    bottom: 0;
    background: #ffff;
    width: 100%;
}  
.mobile_footer li img {
    max-height: 20px;
}    
.mobile_footer .mobile_ftr_main {
    justify-content: space-between;
    align-items: center;
}
.mobile_footer li.plus_icon_btm img {
    max-height: 40px;
}
.home_main_sec {
    padding: 0 0 85px;
}
.mobile_footer li a:hover img.ftr_icon , .mobile_footer li a:focus img.ftr_icon, .mobile_footer li a.active img.ftr_icon {
    display: none !important;    
}
.mobile_footer li a:hover img.ftr_icon_hover, .mobile_footer li a:focus img.ftr_icon_hover, .mobile_footer li a.active  img.ftr_icon_hover{
    display: block !important;    
}
.home_post_catg {
    border-top: 0;
    padding: 16px 15px;
} 
.home_post_catg li a {
    font-size: 16px;
    padding: 2px 19px;
    text-transform: uppercase;
}
.upload_vid_btm_btn .btn_style {
    font-size: 18px;
    width: 100%;
    display: block;
    text-align: center;
    padding: 12px 15px;
    border-radius: 14px;
}
.add_post_page_main .home_add_post {
    display: block;
    border: 0;
    box-shadow: none;
    padding: 30px 0;
}   
.header_heading{
    position: relative;
    display: inline-block;
}
.header_heading h1 {
    font-size: 26px;
    margin: 0; 
    position: relative;
}
.header_heading:before {
    content: '';
    background: #f4f5fa;
    width: 100%;
    left: 0;
    top: 11px;
    height: 7px;
    position: absolute;
}
.header_heading_container {
    position: relative;
    text-align: center;
}
.header_arrow {
    position: absolute;
    left: -45px;
    font-size: 21px;
    color: #000;
    top: 2px;
}
.add_post_page_main .home_add_post .home_rightside_user_box_img img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.add_post_page_main .home_add_post .home_rightside_user_box_cnt h4 {
    font-size: 20px;
    margin-bottom: 0;
    padding-top: 10px;
} 
.add_post_page_main .home_add_post_inner textarea.form-control {
    margin: 0;
    font-size: 20px;
    border: 0;
    min-height: 85px;
} 
.add_post_page_main .create_post_ftr {
    box-shadow: 0 0 6px #eee;
    border-left: 0;
    border-right: 0;
    position: fixed;
    bottom: 125px;
    left: 0;
    width: 100%;
    text-align: center;
    background: #ffff;
}    
section.add_post_page {
    padding-bottom: 215px;
}    
.crate_post_desc .btn_style_grey {
    background: #959fa8;
    width: 100%;
    padding: 12px 10px;
}
.inner_logo {
    display: none;
}
.no_shadow {
    box-shadow: none;
}
.sign_in_main {
    margin: 0 auto;
    text-align: center;
    padding: 0 30px;
}
.sign_in_main .header_arrow {
    left: 0;
}    
.sign_in_form h4 {
    color: #959fa8;
    font-size: 20px;
    margin-bottom: 35px;
}
.sign_in_form label {
    display: none;
}
.sign_in_form form [ class*='col-' ] {
    margin-bottom: 25px;
}
.sign_in_form form  .form-control {
    text-align: center;
    height: 53px;
}    
.sign_in_form form input.btn_style {
    width: 100%;
}  
.do_have_act_main{
    margin-top: 35px;
}
.do_have_act_main a {
    display: block;
    text-align: center;
} 
.sign_in_main .inner_heading { 
    margin-bottom: 40px;
}
.forget_pass {
    color: #2a2a2a;
    font-size: 14px;
}
.header_desk_arrow, .desk_only{
    display: none;
}
.welcome_screen_page .inner_logo {
    display: block;
    margin-top: 50px;
}    
.welcome_screen_page .inner_logo a {
    max-width: 100%;
}
.welcome_screen_page .do_have_act_main h4 {
    color: #959fa8;
    font-size: 20px;
    margin-bottom: 25px;
}
.or_div {
    margin: 30px 0;
    position: relative;
    font-size: 27px;
}
.or_div:before {
    content: '';
    background: #f4f5fa;
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.or_div span {
    background: #fff;
    display: inline-block;
    position: relative;
    padding: 0 20px;
}
.about_us_page_body {
    padding: 0;
    margin-top: 0;
}
section.about_us_page {
    padding: 35px 15px 120px;
}
.about_us_page .about_left_main {
    border: 0;
    box-shadow: none;
    padding: 0;
    margin: 0;
}
.blocked_profile_page_main .header_search .form-control {
    width: 100%;
}
.blocked_profile_page_main .header_search {
    display: block;
    margin: 0 0 25px;
}
.blocked_profile_list li {
    padding: 20px 0;
}  
.blocked_profile_list .btn_style { 
    font-size: 10px;
    padding: 5px 15px;
}
section.edit_profile_page .container {
    padding: 0;
}
section.edit_profile_page {
    padding: 0 0 120px;
}
.edit_profile_page  .about_us_page_heading_img img { 
    height: 190px; 
    border-radius: 0;
}
.edit_profile_page .about_us_page_body {
    padding: 0 15px;
}
.edit_profile_img_box span {
    display: none;
}
.edit_profile_img_box img , .profile_page_img_sec .edit_profile_img_box img{
    width: 110px;
    height: 110px;
    border-radius: 10px; 
    margin-right: 0;
}
.edit_profile_img_box {
    top: -50px;
    margin-bottom: 10px;
}
.edit_profile_img_box  .edit_profile_cam {
    width: 35px;
    height: 35px;
    border-radius: 4px;
    margin-left: -22px;
}
#profile_page .profile_page_heading_cnt {
    padding: 0 15px;
    margin-top: 15px;
}
#profile_page .home_main {
    padding: 0;
} 
#profile_page .profile_page_img_sec {
    margin-left: 0;
    padding: 0 15px;
}
.profile_page_img_sec .edit_profile_img_sec {
    margin-top: -35px;
}   
.profile_edit_btn .btn_style {
    font-size: 14px;
}
.profile_page_img_sec .edit_profile_img_box {
    top: auto;
}
.profile_followers {
    box-shadow: none;
    padding: 0;
    margin-bottom: 0;
    border: 0;
    margin-top: 20px;
}
.profile_followers a {
    padding-bottom: 0;
    border: 0;
    line-height: 1.3;
    display: inline-block;
    width: 48%;
}
.profile_followers a span {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}
.profile_page_heading_cnt_top {
    position: relative;
    padding-right: 95px;
    margin-bottom: 12px;
}
.profile_page_heading_cnt_top .btn_style {
    font-size: 13px;
    padding: 6px 10px;
    position: absolute;
    right: 0;
    top: 0;
}
#profile_page .home_post_catg li a {
    font-size: 15px;
    padding: 2px 16px;
}
.view_post_page {
    padding: 25px 0 90px;
}
.view_post_page .home_posts_box_comments {
    padding: 15px;
}
.view_post_page .view_post_right .home_posts_box_comments ul {
    max-height: 100%; 
}
.view_post_page .home_add_post {
    display: block;
}  
.home_add_post_ftr {
    padding: 0;
    margin: 0;
}
.home_add_post_ftr .btn_style_link {
    cursor: pointer;
    display: inline-block;
    background: transparent;
    box-shadow: none;
    font-size: 15px;
    padding: 0;
    color: #000;
}
.home_add_post_ftr input.form-control {
    font-size: 12px;
    padding: 10px 10px;
    background-color: #f4f5fa !important;
}
.add_post_page_links_main{
    max-height: 400px;
    margin: auto;
}
.add_post_page_links_main li a {
    display: block;
    background: #2a2a2a;
    color: #fff;
    text-align: center;
    padding: 15px 20px;
    border-radius: 11px;
    position: relative;
}
.add_post_page_links_main li a:hover {
    background-image: linear-gradient(106deg, #f39300, #be1522);
}
.add_post_page_links_main li a img {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 22px;
}
.add_post_page_links_main li {
    margin-bottom: 15px;
}    
section.add_post_page_links {
    padding: 30px 0 110px;
}
.add_post_page_links_main li a.log_out_btn {
    background: #959fa8;
}    
section.add_post_page_links .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 23px;
    margin: 0;
    margin-left: 15px;
}
section.add_post_page_links .switch input { 
  opacity: 0;
  width: 0;
  height: 0;
} 
section.add_post_page_links .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e0580d;
  -webkit-transition: .4s;
  transition: .4s;
}
section.add_post_page_links .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
section.add_post_page_links input:checked + .slider {
    background-color: #fff;
}
section.add_post_page_links input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
section.add_post_page_links input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
    background-color: #e0580d;
} 
section.add_post_page_links .slider.round {
  border-radius: 34px;
}
section.add_post_page_links .slider.round:before {
  border-radius: 50%;
}  
    
    
    
    
} 
