<div class="container">
  <div class="sign_in_main">
    <div class="inner_heading">
      <h1> Sign In </h1>
  </div>
    <app-dynamic-form-component [questions]="questions$ | async"></app-dynamic-form-component>
  </div>
</div>