.text-error {
    color: #dc2626;
    margin-top: 5px;
    font-size: 14px;
    letter-spacing: 0.3px;
}

.required:after {
    content: '*';
    color: #dc2626;
    padding-left: 5px;
    font-size: 18px;
    position: relative;
    top: 2px;
}

.cursor-pointer {
    cursor: pointer;
}
.intl-tel-input {
    width: 100% !important;
}
.swal2-styled.swal2-confirm {
    background-color: #f2933d !important;
}
.bs-datepicker-container {
    padding: 0 !important;
}

.theme-green .bs-datepicker-head {
    background-color: #ef8a3b !important;
}
.theme-green .bs-datepicker-body table td span.selected, .theme-green .bs-datepicker-body table td.selected span, .theme-green .bs-datepicker-body table td span[class*="select-"]:after, .theme-green .bs-datepicker-body table td[class*="select-"] span:after {
    background-color: #ef893b !important;
}

@media screen and (max-width: 449px) {
    .audio-podcast-vlog {
        margin-top: 20px !important;
    }
}

@media screen and (max-width: 767px){
    .header_arrow_small_screen {
        left: 25px !important;
        top: 42px !important;
    }
}